header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;
  align-items: end;
  border-bottom: .3rem solid lightgray;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: red;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  color: darkgrey;
  font-size: 12px;
}
